.square {
    margin: 0;

    height: 500px;
    width: 500px;

    background-color: black;
}

.holder {
    position: relative;
    top: 180px;
    left: 100px;
    
    height: 14px;
    width: 300px;

    border-radius: 7px;

    background-color: white;
}

.section--balls {
    display: flex;
    position: relative;

    margin-left: 20px;

    top: 180px;
    left: 100px;
    
    height: calc(400px - 15px);
    width: 500px;
}

.group--ball {

    height: 250px;
    width: 50px;
}

.group--fixed {
    position: fixed;
    display: flex;

    margin-left: 50px;

}

.left {
    position: absolute;
    animation: left-ball-animation 1.5s infinite;
}

@-webkit-keyframes left-ball-animation {
    0% {
        transform: rotateZ(0);
        margin-left: 0;
        margin-top: 0;
    }

    30% {
        transform: rotateZ(24deg);
        margin-left: -50px;
        margin-top: -12px;
    }

    50%, 100% {
        transform: rotateZ(0);
        margin-left: 0px;
        margin-top: 0;
    }
}

.right {
    position: absolute;
    left: 200px;
    animation: right-ball-animation 1.5s infinite;
}

@-webkit-keyframes right-ball-animation {
    0%, 50% {
        transform: rotateZ(0);
        margin-left: 0;
        margin-top: 0;
    }

    80% {
        transform: rotateZ(-24deg);
        margin-left: 50px;
        margin-top: -12px;
    }
}

.string {
    position: relative;

    margin: 0 auto;

    height: 100px;
    width: 1px;

    background-color: white;
}

.ball {
    position: relative;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    background-color: white;
}
