.square {
    margin: 0;

    height: 500px;
    width: 500px;

    background-color: black;
}

.holder {
    position: relative;
    top: 130px;
    left: 100px;
    
    height: 14px;
    width: 300px;

    border-radius: 7px;

    background-color: white;
}

.section--balls {
    display: flex;
    position: relative;

    margin-left: 20px;

    top: 130px;
    left: 100px;
    
    height: calc(400px - 15px);
    width: 500px;
}

.group--ball {
    height: 250px;
    width: 50px;
}

.group--fixed {
    position: fixed;
    display: flex;

    margin-left: 50px;

}

.left {
    position: absolute;
    animation: left-ball-animation alternate-reverse 1.2s infinite ease-out;
}

@-webkit-keyframes left-ball-animation {
    0%, 50% {
        transform: rotateZ(0);
        transform-origin: top;
    }

    100% {
        transform: rotateZ(32deg);
        transform-origin: top;
    }
}

.right {
    position: absolute;
    left: 200px;
    animation: right-ball-animation alternate 1.2s infinite ease-out;
}

@-webkit-keyframes right-ball-animation {
    0%, 50% {
        transform: rotateZ(0);
        transform-origin: top;
    }

    100% {
        transform: rotateZ(-32deg);
        transform-origin: top;
    }
}

.string {
    position: relative;

    margin: 0 auto;

    height: 150px;
    width: 1px;

    background-color: white;
}

.ball {
    position: relative;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    background-color: white;
}
